@model SmartoothAI.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-controller="Home" asp-action="Login">
    <div class="form-group">
        <label for="Usuario">Usuário</label>
        <input type="text" class="form-control" id="Usuario" name="Usuario" required />
    </div>

    <div class="form-group">
        <label for="Senha">Senha</label>
        <input type="password" class="form-control" id="Senha" name="Senha" required />
    </div>
    <button type="submit" class="btn">Entrar</button>
</form>
